.btn {
    display: grid;
    place-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .btn:hover {
    transform: translateY(0.5em);
  }
  
  .btn svg {
    transition: transform 0.5s;
  }
  
  .btn:hover svg {
    transform: scale(0.9);
  }
  
  